* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Header principal o Navbar */
header {
    z-index: 1;
    position: fixed;
    background: #2C3E50;
    padding: 20px;
    width: calc(100% - 0%);
    height: 30px;
    top: 0;
}

/* Navbar, Titulo y botones */
.area_izquierda h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.area_izquierda span {
    color: rgba(241, 196, 15);
}

/* Boton de cerrar sesion */
.btn_salir {
    padding: 5px;
    text-decoration: none;
    float: right;
    margin-top: -35px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: color;
}

.btn_salir:hover {
    color: rgba(241, 196, 15);
}

/* Barra Lateral */

.sidebar {
    z-index: 1;
    top: 0;
    background: #2c3e50f1;
    margin-top: 70px;
    padding-top: 10px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}



.sidebar .perfil .imagen_perfil {
    width: 100px;
    height: 100px;
    /* border: 3px solid rgb(255,255,255,0.7); */
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .perfil h3 {
    color: #fff;
    margin-top: 0;
}
.sidebar .perfil p {

  color: rgba(241, 196, 15);
  margin-top: 5px;
}

.sidebar hr {
  margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
}

/* Iconos y animacion del los botones de pestañas */
.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 55px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}
.sidebar #nav-margin{
  padding-left: 65px;
}

.sidebar a:hover {
    background: rgba(241, 196, 15);
}

.sidebar i {
    padding-right: 10px;
}
/* boton Sidebar */
label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 350px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: rgba(241, 196, 15) ;
}
/* Oculta el sideBar */
#checkSidebar:checked ~ .sidebar{
    left: -185px;
}
#checkSidebar:checked ~ .sidebar #nav-margin{
  margin-left: 142px;
}
#checkSidebar:checked ~ .sidebar a span{
    display: none;
}
#checkSidebar:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
    transition: 0.5s;
}
#checkSidebar:checked ~ .sidebar .perfil{
    display: none;
    transition: 0.5s;
 }
 #checkSidebar:checked ~ .sidebar hr{
     display: none;
  }
/* Ocultamos el checkbox */
#checkSidebar{
    display: none;
}
/* Contenido de la pagina */
.MainContainer{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#checkSidebar:checked ~ .MainContainer{
    margin-left: 60px;
}

/* Responsive */
.mobile_nav{
    display: none;
}

 
@media screen and (max-width:780px){
    .sidebar{
        display: none;
    }
    #sidebar_btn{
        display: none;
    }
    

    .MainContainer{
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
    .MainContainer .card{
        width: 100%;
    }
    

    #checkSidebar:checked ~ .MainContainer{
        margin-left: 0;
    }

    .mobile_nav{
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar{
        background: #22313f;
        width: (100% - 0%);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_foto_perfil{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nav_bar .nav_btn{
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    .nav_bar .nav_btn:hover{
        color: rgba(241, 196, 15);
    }
    .mobile_nav_items{
        background: #2C3E50;
        display: none;
    }
    .mobile_nav_items a{
        color: #fff;
        color: rgb(70, 87, 104);
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover{        
        background: rgba(241, 196, 15);
    }
    .mobile_nav_items i{        
        padding-right: 10px;
    }
    .active{
        display: block;
    }

}

/* datatables */

.table {
    
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
    text-align: justify;
  }
  
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: center;
    border-top: 1px solid #dee2e6;
  }
  
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
  }
  
  .table tbody + tbody {
    border-top: 2px solid #dee2e6;
  }
  
  .table-sm th,
  .table-sm td {
    padding: 0.3rem;
  }
  
  .table-bordered {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered th,
  .table-bordered td {
    border: 1px solid #dee2e6;
  }
  
  .table-bordered thead th,
  .table-bordered thead td {
    border-bottom-width: 2px;
  }
  
  .table-borderless th,
  .table-borderless td,
  .table-borderless thead th,
  .table-borderless tbody + tbody {
    border: 0;
  }
  
  .table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.05);
  }
  
  .table-hover tbody tr:hover {
    color: #212529;
    background-color: rgba(0, 0, 0, 0.075);
  }
  

  
  @media (max-width: 575.98px) {
    .table-responsive-sm {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-sm > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 767.98px) {
    .table-responsive-md {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-md > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 991.98px) {
    .table-responsive-lg {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-lg > .table-bordered {
      border: 0;
    }
  }
  
  @media (max-width: 1199.98px) {
    .table-responsive-xl {
      display: block;
      width: 100%;
      overflow-x: auto;
      -webkit-overflow-scrolling: touch;
    }
    .table-responsive-xl > .table-bordered {
      border: 0;
    }
  }
  
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }
  
  .table-responsive > .table-bordered {
    border: 0;
  }
  
  
.btn {
  display: inline-block;
  font-weight: 700;
  color: #212529;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: transparent;
  border: 2px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 3px;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}


.btn-editar {
  color: #FFF;
  background-color: #20638f;
  border-color: #20638f;
  cursor: pointer;
}


.btn-eliminar {
  color: #FFF;
  background-color: #000000;
  border-color: #000000;
  cursor: pointer;
}

.btn-eliminar:hover {
  color: #FFF;
  background-color: #254158;
  border-color: #254158; 
}

.badge {
  display: inline-block;
  padding: 0.25em 0.4em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  -webkit-transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
  -o-transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
  transition: box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), transform 0.2s cubic-bezier(0.35, 0, 0.25, 1), background-color 0.3s ease-in-out, border-color 0.3s ease-in-out, -webkit-box-shadow 0.3s cubic-bezier(0.35, 0, 0.25, 1), -webkit-transform 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.badge-success {
  color: #FFF;
  background-color: #28a745;
}

.badge-danger {
  color: #FFF;
  background-color: #f3142a;
}



