* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

/* Header principal o Navbar */
header {
    z-index: 1;
    position: fixed;
    background: #732e90;
    padding: 20px;
    width: calc(100% - 0%);
    height: 30px;
    top: 0;
}

/* Navbar, Titulo y botones */
.area_izquierda h3 {
    color: #fff;
    margin: 0;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 900;
}

.area_izquierda span {
    color: #2ecc71;

}

/* Boton de cerrar sesion */
.btn_salir {
    padding: 5px;
    text-decoration: none;
    float: right;
    margin-top: -35px;
    margin-right: 40px;
    border-radius: 2px;
    font-size: 25px;
    width: 40px;
    text-align: center;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
    transition-property: color;
}

.btn_salir:hover {
    color: #2ecc71;
}

/* Barra Lateral */

.sidebar {
    z-index: 1;
    top: 0;
    background: #57246d;
    margin-top: 70px;
    padding-top: 30px;
    position: fixed;
    left: 0;
    width: 250px;
    height: calc(100% - 9%);
    transition: 0.5s;
    transition-property: left;
    overflow-y: auto;
}

.perfil{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.sidebar .perfil .imagen_perfil {
    width: 100px;
    height: 100px;
    /* border: 3px solid rgb(255,255,255,0.7); */
    border-radius: 100px;
    margin-bottom: 10px;
}

.sidebar .perfil h3 {
    color: #fff;
    margin-top: 0;
    margin-bottom: 20px;
}

.sidebar hr {
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

/* Iconos y animacion del los botones de pestañas */
.sidebar a {
    color: #fff;
    display: block;
    width: 100%;
    line-height: 60px;
    text-decoration: none;
    padding-left: 40px;
    box-sizing: border-box;
    transition: 0.5s;
    transition-property: background;
}

.sidebar a:hover {
    background: #1c7c44;
}

.sidebar i {
    padding-right: 10px;
}
/* boton Sidebar */
label #sidebar_btn{
    z-index: 1;
    color: #fff;
    position: fixed;
    cursor: pointer;
    left: 350px;
    font-size: 20px;
    margin: 5px 0;
    transition: 0.5s;
    transition-property: color;
}
label #sidebar_btn:hover{
    color: #2ecc71 ;
}
/* Oculta el sideBar */
#checkSidebar:checked ~ .sidebar{
    left: -185px;
}
#checkSidebar:checked ~ .sidebar a span{
    display: none;
}
#checkSidebar:checked ~ .sidebar a{
    font-size: 20px;
    margin-left: 165px;
    width: 100%;
    transition: 0.5s;
}
#checkSidebar:checked ~ .sidebar .perfil{
    display: none;
    transition: 0.5s;
 }
 #checkSidebar:checked ~ .sidebar hr{
     display: none;
  }
/* Ocultamos el checkbox */
#checkSidebar{
    display: none;
}


/* Contenido de la pagina */
.MainContainer{
    width: (100% - 250px);
    margin-top: 60px;
    padding: 20px;
    margin-left: 250px;
    background: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: 0.5s;
}

#checkSidebar:checked ~ .MainContainer{
    margin-left: 60px;
}



/* Responsive */
.mobile_nav{
    display: none;
}
 
@media screen and (max-width:780px){
    .sidebar{
        display: none;
    }
    #sidebar_btn{
        display: none;
    }

    .MainContainer{
        margin-left: 0;
        margin-top: 0;
        padding: 10px 20px;
        transition: 0s;
    }
    .MainContainer .card{
        width: 50%;
    }
    

    #checkSidebar:checked ~ .MainContainer{
        margin-left: 0;
    }

    .mobile_nav{
        display: block;
        width: calc(100% - 0%);
    }
    .nav_bar{
        background: #421755;
        width: (100% - 0%);
        margin-top: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
    }
    .nav_bar .mobile_foto_perfil{
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }

    .nav_bar .nav_btn{
        color: #fff;
        font-size: 22px;
        cursor: pointer;
    }
    .nav_bar .nav_btn:hover{
        color: #2ecc71;
    }
    .mobile_nav_items{
        background: #57246d;
        display: none;
    }
    .mobile_nav_items a{
        color: #fff;
        display: block;
        text-align: center;
        letter-spacing: 1px;
        line-height: 60px;
        text-decoration: none;
        box-sizing: border-box;
        transition: 0.5s;
        transition-property: background;
    }

    .mobile_nav_items a:hover{        
        background: #1c7c44;
    }
    .mobile_nav_items i{        
        padding-right: 10px;
    }
    .active{
        display: block;
    }

}



