*{
  font-family: 'Roboto',sans-serif;
  margin: 0 ;
  padding: 0;
 
    -webkit-box-sizing: border-box;
            box-sizing: border-box;

}

.container{
  width: 100%;
  min-height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  box-sizing: border-box;
  overflow: hidden;
}


.navbar{
  box-shadow: 0px 1px 0px rgb(0 0 0 / 25%);
  width: 100%;
  display: flex;
  align-items: center;
}

.logo{
  width:150px;
  cursor: pointer;
  margin:30px 0;
}

.menu-icon{
  width: 25px;
  cursor: pointer;
  display: none;
}

nav{
  flex: 1;
  text-align: right;
}

nav ul li{
  list-style: none;
  display: inline-block;
  margin-right: 30px;
}

nav ul li a{
  text-decoration: none;
  color: #000;
  font-size: 17px;
  font-weight: 600;
  transition: font-size 0.5s;
}

nav ul li a:hover{
  color: #28a745;
  font-size: 19px;
}

.row{
 display: flex;
 justify-content: space-between;
 align-items: center;
 margin:120px 0;
}

.col-1{
  flex-basis: 60%;
  position: relative;
  margin-left: 50px;
}

.col-1 h2{
  font-size: 54px;
}

.col-1 h2 i{
  color: #28a745;
}

.col-1 h3{
  font-size: 54px;
  color: #707070;
  font-weight: 100;
  margin: 5px 0 10px;
}

.col-1 p{
  font-size: 16px;
  color: #7b7878;
  font-weight: 100;
}
.col-1 p i{
  font-weight: 200;
  color: #3e3e3e;
}

.contenedor .col-1 a{
  margin-top: 20px;
  position:absolute;
  width: 140px;
  border: 0;
  padding: 12px 10px;
  outline: none;
  color: #fff;
  background:linear-gradient(#269741,#28a745);
  border-radius: 6px;
  cursor: pointer;
  transition: width 0.5s;
  text-decoration: none;
}

.card{
  
  width: 330px;
  height: 430px;
  border-radius: 8px;
  box-shadow: 0 2px 2px rgb(0,0, 0,0.2 );
  overflow: hidden;
  margin: 20px;
  text-align: center;
  transition: all 0.25s;
  margin-top: -40px;
}
.card:hover{
  transform: translateY(-15px);
  box-shadow: 0 12px 16px rgb(0,0, 0,0.2 );
}
.card img{
  width: 330px;
  height: 320px;
  margin-bottom: 10px;
}
.card h4{
  color: #2D3E50;
  font-weight: 600;
}

.card p{
  color: #62666A;
  padding: 0 1rem;
  font-size: 16px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 10px;
}
.card .links a{
  color: #2D3E50;
 font-size: 25px;
 margin-left: 5px;
  }

.contenedor a:hover{
  width: 160px;
}
.contenedor{
 margin-top: 20px;
 width: 1400px;
}


.equipo::after {
  content: '';
  width: 200px;
  height: 10px;
  background: linear-gradient(#F1C413,#F1C413);
  position: absolute;
  left: 0px;
  top: 102px;
}
.col-1::after{
  content: '';
  width: 10px;
  height: 57%;
  background:linear-gradient(#2bb14b,#28a745);
  position: absolute;
  left: -40px;
  top: 8px;
}

.col-2{
  position: relative;
  flex-basis: 40%;
  display: flex;
  align-items: center;
}
.col-2 .imagen{
  width: 100%;
}

@media only screen and (max-width:700px){

  nav ul{
    width: 100%;
    background: linear-gradient(to left,#269741,#39ce5b);
    position: absolute;
    top: 100px;
    right: 0;
    z-index: 2;
  }

  nav ul li{
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  nav ul li a{
    color: #fff;
  }
  nav ul li a:hover{
    color: #fff;
  }
  .menu-icon{
    display: block;
  }

  #menuDesplegable{
    overflow: hidden;
    transition:0.5s ;
  }
  .row{
    flex-direction: column-reverse;
    margin:50px 0;
  }
  .col-2{
    flex-basis: 100%;
    margin-bottom: 50px;
  }
  .col-2 .imagen{
    width: 100%;
    align-items: center;
  }

  .col-1{
    flex-basis: 100%;

  }
  .col-1 h2{
    font-size: 50px;

  }
 

}
.gallery-tittle{
  padding: 40px 40px;
    background:#e5e5e53b;
}
.gallery-tittle img{
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  width:1200px;
  height: 400px;
}
.gallery {
  background:#e5e5e53b;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* background: rgba(156, 156, 156, 0.092); */
}

.product-card {
  width: 300px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  margin: 20px 10px;
  background: #fafafa;
}

.badge {
  position: absolute;
  left: 0;
  top: 20px;
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 700;
  background: red;
  color: #fff;
  padding: 3px 10px;
}

.product-tumb {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 300px;
  padding: 50px;
  background: #f0f0f0;
}

.product-tumb img {
  max-width: 100%;
  max-height: 100%;
}

.product-details {
  padding: 30px;
}

.product-catagory {
  display: block;
  font-size: 12px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ccc;
  margin-bottom: 18px;
}

.product-details h4 a {
  font-weight: 500;

    margin-bottom: 10px;
    text-transform: uppercase;
    color: #363636;
    text-decoration: none;
    transition: 0.3s;
}

.product-details h4 a:hover {
  color: #fbb72c;
}

.product-details p {
  font-size: 15px;
  line-height: 22px;
  margin-bottom: 18px;
  color: #999;
}

.product-bottom-details {
  overflow: hidden;
  border-top: 1px solid #eee;
  padding-top: 20px;
}

.product-bottom-details div {
  float: left;
  width: 50%;
}

.product-price {
  font-size: 18px;
  color: #fbb72c;
  font-weight: 600;
}

.product-price small {
  font-size: 80%;
  font-weight: 400;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 5px;
}

.product-links {
  text-align: right;
}

.product-links a {

  margin-right: 10px;
  color: #e1e1e1;
  transition: 0.3s;
  font-size: 17px;
}

.product-links a:hover {
  color: #fbb72c;
}

.pagination{
  text-align: center;
  margin: 30px 30px 60px;
  user-select: none;
}

.pagination li{
  display: inline-block;
  margin: 5px;
  box-shadow: 0 5px 25px rgb(1 1 1 / 10%);
}

.pagination li a{
  color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 45px;
}

.previous-page, .next-page{
  background: #0AB1CE;
  width: 80px;
  border-radius: 45px;
  cursor: pointer;
  transition: 0.3s ease;
}

.previous-page:hover{
  transform: translateX(-5px);
}

.next-page:hover{
  transform: translateX(5px);
}

.current-page, .dots{
  background: #ccc;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
}

.active{
  background: #0AB1CE;
}

.disable{
  background: #ccc;
}
      
